<app-header></app-header>
<mat-drawer-container class="mat-drawer-container">
  <mat-drawer mode="side" opened="true">
    <div>
      <button routerLink="/home" class="buttons">Books</button>
      <br>
      <button routerLink="/author-table" class="buttons">Authors</button>
    </div>
  </mat-drawer>
  <mat-drawer-content class="body">
    <div class="form-container">
      <form class="form" (ngSubmit)="submitForm(box1.value,box2.value,box3.value)">
        <h2>Add New Author</h2>
        <div>
          <label for="author">Author name:</label>
          <input name="author" id="author" type="text" #box1 placeholder="Author name">
        </div>
        <div>
          <label for="email">Email:</label>
          <input name="email" id="email" type="email" #box2 placeholder="Email">
        </div>
        <div>
          <label for="bio">Bio:</label>
          <input name="bio" id="bio" type="text" #box3 placeholder="Bio">
        </div>
        <button type="submit">Add</button>
      </form>
    </div>
  </mat-drawer-content>
</mat-drawer-container>