<app-header></app-header>
<mat-drawer-container style="width: 100%; height: 100%;" id="jinzo">
  <mat-drawer mode="side" opened="true" style=" height: 100%;">
    <div class="alo">
      <button routerLink="/home" class="buttons">Books</button>
      <br>
      <button routerLink="/author-table" class="buttons">Authors</button>
    </div>
  </mat-drawer>
  <mat-drawer-content class="fullWidth">
    <h1>Author: {{this.currentAuthor.author}}</h1>
    <h2>
      Email: {{this.currentAuthor.email}}
    </h2>

    <h3>
      Bio: {{this.currentAuthor.bio}}
    </h3>
    <div *ngFor="let book of books" style="padding: 1%;" class="max-width">
      <mat-card *ngIf="book.authorId===this.currentAuthor.id" class="sayed">
        <div class="image">
          <img style="height: 500px ;width: 350px;" src={{book.imageUrl}} routerLink="/book-details/{{book.id}}">
        </div>
        <div class="text">
          <a routerLink="/book-details/{{book.id}}">{{book.bookName}}</a>
        </div>
        <div class="text">
          <a routerLink="/author-page/{{book.authorId}}">{{book.author}}</a>
        </div>
        <button routerLink="/edit-book/{{this.currentAuthor.id}}/{{book.id}}" class="green-button">Edit Book</button>
        <button class="red-button">Delete Book</button>
      </mat-card>
    </div>
     <button routerLink="/add-book/{{this.currentAuthor.id}}" class="green-button">AddBook</button>
    <button class="yellow-button">Edit Author</button>
    <button class="red-button">Delete author</button>
  </mat-drawer-content>
</mat-drawer-container>