.alo{
    padding: 10px;
    border: 20px;
}
.buttons{
    padding-bottom: 10px;
    font-size: larger;
}
.book-card-container {
    max-width: 200px;
    max-height: 350px;
    display: inline-block;
    white-space: nowrap;
  }
  .card {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
  }
.fullWidth{
  width: 100%;
}