<app-header></app-header>
<mat-drawer-container autosize="true" >
  <mat-drawer mode="side" opened="true" style="background-color: rgb(45, 39, 39);color: aliceblue; height: 100%;">
    <div class="alo">
      <button class="buttons">Books</button>
      <br>
      <button class="buttons">Authors</button>
    </div>
  </mat-drawer>
  <mat-drawer-content style="float: right; font-size: x-large;">
    <div style="border: 5px; border: color #aa350e; ;">
      <input name="search" id="search" type="text" placeholder="search" >
      <mat-icon>search</mat-icon>
    </div>
  </mat-drawer-content>
  <mat-drawer-content class="fullWidth">
      <app-book-card></app-book-card>
  </mat-drawer-content>
</mat-drawer-container>