.mat-drawer-container{
  background-color: #efdccc;
}
.mat-drawer{
  background-color: #dbc2ad;
  width: 7%;
}
.book-card-container {
    max-width: 200px;
    max-height: 350px;
    display: inline-block;
    white-space: nowrap;
  }
  .card {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
  }
.fullWidth{
  width: 100%;
}
.buttons {
  margin: 10px 0;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease;
  color: #fff;
  font-size: x-large;
  width: 100%;
}

.buttons:hover {
  background-color: #c9dec0;
}

mat-icon {
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
  color: #aaa;
  cursor: pointer;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 18px;
  background-color: #eee;
  color: #333;
  transition: all 0.3s ease;
}

input[type="text"]:focus {
  outline: none;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
