<app-header></app-header>
<div class="container">
  <mat-drawer-container class="mat-drawer-container">
    <mat-drawer mode="side" opened="true">
      <div>
        <button routerLink="/home" class="buttons">Books</button>
        <button routerLink="/author-table" class="buttons">Authors</button>
      </div>
    </mat-drawer>
    <mat-drawer-content class="body">
      <img src="{{this.currentBook.imageUrl}}">
      <h1>{{this.currentBook.bookName}}</h1>
      <h2>Author: {{this.currentBook.author}}</h2>
      <h2>Genre: {{this.currentBook.genre}}</h2>
    </mat-drawer-content>
  </mat-drawer-container>
</div>