<mat-card class="mb-10" style="width: 100%;">
    <div style="display:flex; flex-direction: row; justify-content: space-around; width: 100%;">
        <div >
            <label>
                Filter by Author: {{filter}}
            </label>
            <div>
                <input id="author" #box placeholder="Author" (keyup)="sendFilter(box.value)">
            </div>
        </div>
        <mat-drawer-content style="float: right; font-size: x-large;" >
            <div style="border: 5px; border: color #aa350e; ;">
              <input name="search" id="search" type="text" placeholder="search" #box (keydown)="sendSearch(box.value)">
              <mat-icon>search</mat-icon>
            </div>
        </mat-drawer-content>
    </div>
</mat-card>
