<mat-drawer-container class="mat-drawer-container" style="width: 100%;">
    <mat-drawer-content>
      <app-filter-bar></app-filter-bar>
    </mat-drawer-content>
  </mat-drawer-container>
  <div *ngFor="let book of books" style="padding: 1%;">
    <mat-card *ngIf="this.search===book.bookName || (this.search==='' && ((book.author === this.filter) || this.filter=='all' || this.filter=='' ))" class="sayed">
      <div class="image">
        <img style="height: 590px ;width: 350px;"
             src={{book.imageUrl}}
             routerLink="/book-details/{{book.id}}"
        >
      </div>
      <div class="text">
        <a routerLink="/book-details/{{book.id}}">{{book.bookName}}</a>
      </div>
      <div class="text">
        <a routerLink="/author-page/{{book.authorId}}">{{book.author}}</a>
      </div>
    </mat-card>
  </div>