*{
    float: left;
    padding-bottom: 30px;
}
.text{
    padding-bottom: 5px;
    text-align: center;
}
.image{
    max-width: 350px;
    padding-bottom: 5px;
}
.sayed{
    padding: 20px;
}
.mat-drawer-container{
    background-image: url(https://cdn1.vectorstock.com/i/1000x1000/91/20/library-book-shelf-seamless-background-vector-21309120.jpg)
}